<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/particles.css">

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/particles.min.js"></script>
    <script src="../static/js/mouse.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <title>One Blog</title>
    <style>
        a {
            color: black
        }
        body{
            margin-top:70px;
        }
    </style>
    </head>
    <body>

        <div id="particles-js"></div>
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div>
                    <a class="navbar-brand" href="#">One Blog</a>
                    <ul class="nav navbar-nav">
                        <li {{if .IsHome}}class="active" {{end}}><a href="/home">首页</a></li>
                        <li {{if .IsAll}}class="active" {{end}}><a href="/all">文章</a></li>
                        <li class="dropdown">
                            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                分类
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="drop1">
                                <li><a href="#">C/C++</a></li>
                                <li><a href="#">Go</a></li>
                                <li><a href="#">Python</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">其他</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/login">管理员登陆</a></li>
                    </ul>
                </div>
            </div>


        </div>

        <div class="container">
            <div class="container col-sm-9" >
                <h2 class="text-center">测试标题</h2>
                <h5 class="text-muted text-center">writed by: frreason| created:2019/05/21 17:36:25</h5>
                <p class="" style="line-height: 28px;font-size: 16px;">
            
                    
                    首先，从行为上来看，所谓爱情不过是两个行为独立、思想自由的个体自愿选择将自己的一部分生活与对方重叠的做法，其目的既可以是更好地抵御来自外部不可预料的风险，又可以在和伴侣的理解、信任和互相依赖过程中收获幸福体验以及满足自己的归属需要。

                    其次，在心理学中，一般认为一段良好的恋爱关系除了需要满足基本的信任、承诺和互相尊重之外，通常还需要满足以下两个条件：

                    第一，亲密的伴侣间需要有着比普通朋友更加广泛而私密的了解。他们熟知彼此的喜好、以往经历和生活方式，并且一般不会将彼此私密的信息透露给其他人知道。

                    第二，亲密的伴侣间有着更多关心和理解，以及互相依赖性。他们会更多地关心对方的生活和精神状况，并试图去理解和支持对方的观点。同时亲密伴侣间还会表现出频繁、强烈、多样和持久的相互依赖性，生活上的高度融合让他们更愿意称呼“我们”而不是“我”和“他/她”。

                    从上面的描述可以看出，这只是对良好爱情关系的偏学术化的客观评判，但是在实际生活中人们往往有一个更简单也更容易感受到的标准——浪漫。

                    恋爱关系中的浪漫通常指的是伴侣间共同经历过的美好体验。坠入爱河的人们往往会将他们的伴侣理想化，仿佛站在多层暖色调滤镜背后注视伴侣的种种行为，并下意识地忽略对方身上的不足之处。此外，浪漫也往往是一次次的新奇体验，每当你和伴侣共同经历某种全新的体验总能让你印象深刻，久久不能忘怀。
                    其次，在心理学中，一般认为一段良好的恋爱关系除了需要满足基本的信任、承诺和互相尊重之外，通常还需要满足以下两个条件：

                    第一，亲密的伴侣间需要有着比普通朋友更加广泛而私密的了解。他们熟知彼此的喜好、以往经历和生活方式，并且一般不会将彼此私密的信息透露给其他人知道。

                    第二，亲密的伴侣间有着更多关心和理解，以及互相依赖性。他们会更多地关心对方的生活和精神状况，并试图去理解和支持对方的观点。同时亲密伴侣间还会表现出频繁、强烈、多样和持久的相互依赖性，生活上的高度融合让他们更愿意称呼“我们”而不是“我”和“他/她”。

                    从上面的描述可以看出，这只是对良好爱情关系的偏学术化的客观评判，但是在实际生活中人们往往有一个更简单也更容易感受到的标准——浪漫。

                    恋爱关系中的浪漫通常指的是伴侣间共同经历过的美好体验。坠入爱河的人们往往会将他们的伴侣理想化，仿佛站在多层暖色调滤
                </p>
                <form method="POST" class="form-horizontal" action="/topic/add" style="margin-top: 50px;padding-left: 15px;">


                    <div class="form-group">
                        <h4>昵称：</h4>
                        <input id="name" type="text" class="form-control" placeholder="输入昵称"
                            name="name">
                    </div>

                    <div class="form-group">
                        <h4>评论：</h4>
                        <textarea name="conment" id="conment" cols="20" rows="5"
                            placeholder="输入评论内容" class="form-control"></textarea>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-default"
                            onclick="return checkInput();">提交评论</button>
                    </div>

                    <script>
                        function checkInput() {
                            //上面的onclick="return checkInput();" 是什么意思？
                            var title = document.getElementById("title")
                            var content = document.getElementById("content")
                            var category = document.getElementById("category")
                            if (title.value.length == 0) {
                                alert("文章名称不能为空")
                                return false
                            }
                            if (content.value.length == 0) {
                                alert("文章内容不能为空")
                                return false
                            }
                            if (category.value.length == 0) {
                                alert("归属类别不能为空")
                                return false
                            }
                            return true
                        }
                    </script>

                </form>
                
            </div>
            <div class="container col-md-3">
                <h3>个人分类</h3>
                <ul class="nav ">
                    <li>
                        <a href="#">Inbox <span class="badge pull-right">42</span></a>
                    </li>
                    <li>
                        <a href="#">Inbox <span class="badge pull-right">42</span></a>
                    </li>
                    <li>
                        <a href="#">Inbox <span class="badge pull-right">42</span></a>
                    </li>
                </ul>
                <h3>最新文章</h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li>
                        <a href="#">Inbox <span class="badge pull-right">42</span></a>
                    </li>
                    <li>
                        <a href="#">Inbox <span class="badge pull-right">42</span></a>
                    </li>
                    <li>
                        <a href="#">Inbox <span class="badge pull-right">42</span></a>
                    </li>
                </ul>
                <h3>最新评论</h3>
                <ul class="nav nav-tabs nav-stacked">
                    <li>
                        <a href="#">Inbox </a>
                    </li>
                    <li>
                        <a href="#">Inbox</a>
                    </li>
                    <li>
                        <a href="#">Inbox</a>
                    </li>
                </ul>

            </div>

            <br>


        </div>





        <script src="../static/js/app.js"></script>

    </body>

</html>