<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/particles.css">

    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/particles.min.js"></script>
    <script src="../static/js/mouse.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/home.css">
    <title>One Blog</title>
    </head>


    <body>

        <div id="particles-js"></div>
        <div class="navbar navbar-default" style="margin-bottom :10px;">
            <div class="container">
                <div>
                    <a class="navbar-brand" href="#">One Blog</a>
                    <ul class="nav navbar-nav">
                        <li {{if .IsHome}}class="active" {{end}}><a href="/home">首页</a></li>
                        <li {{if .IsAll}}class="active" {{end}}><a href="/all">文章</a></li>
                        <li class="dropdown">
                            <a id="drop1" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                                aria-expanded="false">
                                分类
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="drop1">
                                <li><a href="#">C/C++</a></li>
                                <li><a href="#">Go</a></li>
                                <li><a href="#">Python</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">其他</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/login">管理员登陆</a></li>
                    </ul>
                </div>
            </div>


        </div>



        <div class="container hhh">
            <div class="page-header">
                <h1>Example page header</h1>
                <h6 class="text-muted">writed by: frreason created: 2019/05/17 23:10</h6>
                <p>这是测试，无误</p>
            </div>
        </div>
        <div class="container hhh">
            <div class="page-header">
                <h1>Example page header</h1>
                <h6 class="text-muted">writed by: frreason created: 2019/05/17 23:10</h6>
                <p>这是测试，无误</p>
            </div>
        </div>
        <!-- 个人分类 最热文章 最新评论 3个列表栏 -->
        <div class="container list-right">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">14</span>
                    <a href="#" class="aColor">Cras justo odio</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    <a href="#" class="aColor">Cras justo odio</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    <a href="#" class="aColor">Cras justo odio</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    <a href="#" class="aColor">Cras justo odio</a>
                </li>
                <li class="list-group-item">
                    <span class="badge">14</span>
                    <a href="#" class="aColor">Cras justo odio</a>
                </li>
            </ul>
        </div>

        <!-- 文章输入 -->
        <div class="container">
            <form method="POST" class="form-horizontal" action="/topic/add">
                <div class="form-group">
                    <label class="col-sm-1 control-label">文章名：</label>
                    <div class="col-sm-10">
                        <input id="categoryName" type="text" class="form-control" placeholder="输入文章名称" name="categoryName">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-1 control-label">内容：</label>
                    <div class="col-sm-10">
                        <textarea name="content" id="" cols="30" rows="10" placeholder="输入文章内容"
                            class="form-control"></textarea>
                    </div>
                </div>
            </form>
        </div>
        
        <script src="../static/js/app.js"></script>
    </body>

</html>