{{template "header" .}}

        <title>One Blog</title>
        <style>
            a{
                color: black
            }
        </style>
    </head>

    <body>
        <div id="particles-js"></div>

        <!-- 导航栏 -->
        {{template "navbar" .}}
        
        <div class="container">
            <div class="container col-sm-9">
                <h2 class="text-center">{{.Title}}</h2>
                <h6 class="text-muted text-center">作者： {{.Author}}; 创建于: {{.Created}}; 浏览数：{{.Views}}</h6>
                <pre style="font-size: 16px;border: none;background: none">{{.Content}}</pre>

                <h4 style="margin-top: 50px;">所有评论：</h4>
                {{$admin := .Admin}}
                {{$tid := .Tid}}
                {{range .Comments}}
                <pre>{{.Floor}}楼 {{.Writer}}: {{.Content}}<span style="font-size: 12px;" class="text-muted"> Created in {{.Created}}</span>{{if $admin}}<a href="/comment/del?cid={{.Id}}&tid={{$tid}}" class="pull-right aColor">删除</a>{{end}}</pre>
                {{end}}

                <form method="POST" class="form-horizontal" action="/comment/add/{{.Tid}}"
                    style="margin-top: 50px;padding-left: 15px;padding-right: 15px;">


                    <div class="form-group">
                        <h4>昵称：</h4>
                        <input id="nickName" type="text" class="form-control" placeholder="输入昵称"
                            name="nickName">
                    </div>

                    <div class="form-group">
                        <h4>评论：</h4>
                        <textarea name="comment" id="comment" cols="20" rows="5" placeholder="输入评论内容"
                            class="form-control"></textarea>
                    </div>


                    <div class="form-group">
                        <button type="submit" class="btn btn-default"
                            onclick="return checkInput();">提交评论</button>
                    </div>

                    <script>
                        function checkInput() {
                            //上面的onclick="return checkInput();" 是什么意思？
                            var nickName = document.getElementById("nickName")
                            var comment = document.getElementById("comment")
                            if (nickName.value.length == 0) {
                                alert("昵称不能为空")
                                return false
                            }
                            if (comment.value.length == 0) {
                                alert("评论内容不能为空")
                                return false
                            }
            
                            return true
                        }
                    </script>

                </form>

            </div>


            {{template "rightnav" .}}
        </div>
        

        <script src="../static/js/app.js"></script> 
    </body>

</html>